<!DOCTYPE html>
<head>
    <html lang="en">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <style>
      html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
      .w3-sidebar {
        z-index: 3;
        width: 250px;
        top: 43px;
        bottom: 0;
        height: inherit;
      }
    </style>
    {% block head %}{% endblock %}
</head>
<body>
    <!-- Header -->
<header class="w3-container w3-theme w3-padding" id="myHeader">
    <div class="w3-center">
    <h1 class="w3-xxxlarge">FLIX.COM</h1>
      <div class="w3-padding-32">
      </div>
    </div>
  </header>
  
  <!-- Navbar -->
  <div class>
    <div class="w3-bar w3-theme w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1" href="javascript:void(0)" onclick="w3_open()"><i class="fa fa-bars"></i></a>
      <a href="{{ url_for('index') }}" class="w3-bar-item w3-button w3-theme-l1">Home</a>
      <a href="{{ url_for('reviews') }}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Reviews</a>
      <a href="{{ url_for('reviewStats') }}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Review Statistics</a>
      <a href="{{ url_for('login') }}" class="w3-bar-item w3-button w3-hide-small w3-hover-white">Login</a>
    </div>
  </div>
    {% block body %}{% endblock %}
</body>

<!-- Footer -->
<div>
    <footer class="w3-container w3-theme-dark w3-padding-16">
      <h3>Footer</h3>
      <p>Developed by: Michel Gonzalez, Matthew Denslinger, Mohammed Islam, Eisa Ahmed, Shi Lim</p>
      <div style="position:relative;bottom:55px;" class="w3-tooltip w3-right">
        <span class="w3-text w3-theme-light w3-padding">Go To Top</span>    
        <a class="w3-text-white" href="#myHeader"><span class="w3-xlarge">
        <i class="fa fa-chevron-circle-up"></i></span></a>
      </div>
    </footer>
</div>

</html>
