{% extends 'base.html' %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.6.0/dist/chart.min.js"></script>
{% endblock %}

{% block body %}

<!-- UNIQUE QUERY ONE -->

<div class="w3-row w3-padding-64">
    <div class="w3-twothird w3-container">
      <h1 class="w3-text-teal">Comparison between consumer and critic scores</h1>
      <p>This query gives a visual comparison of how critics rated a movie in comparison to that of the consumer. This will be done in a yearly fashion, where the end user can select the span of years to view. The citics will include the critical review scores from Rotten Tomatoes, MetaCritic, and IMDB. The Consumer reviews will include those completed by reviewers on Rotten Tomatoes, MetaCritic, and IMDB.</p>
</p>
    <!--<img src="{{ url_for('static', filename='image/bar_graph.png') }}" alt="Bar Graph" style="width:50%">--> <!--Default image for now, remove after JS implementation-->
    <!--Canvas for graphing data-->
    <canvas id="myChartOne" width="200" height="200"></canvas>
    <script>
       const ctx = document.getElementById('myChartOne').getContext('2d');
       const myChart = new Chart(ctx, {
         type: 'bar',
         data: {
             labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
             datasets: [{
                 label: '# of Votes',
                 data: [12, 19, 3, 5, 2, 3],
                 backgroundColor: [
                     'rgba(255, 99, 132, 0.2)',
                     'rgba(54, 162, 235, 0.2)',
                     'rgba(255, 206, 86, 0.2)',
                     'rgba(75, 192, 192, 0.2)',
                     'rgba(153, 102, 255, 0.2)',
                     'rgba(255, 159, 64, 0.2)'
                 ],
                 borderColor: [
                     'rgba(255, 99, 132, 1)',
                     'rgba(54, 162, 235, 1)',
                     'rgba(255, 206, 86, 1)',
                     'rgba(75, 192, 192, 1)',
                     'rgba(153, 102, 255, 1)',
                     'rgba(255, 159, 64, 1)'
                 ],
                 borderWidth: 1
             }]
         },
         options: {
             scales: {
                 y: {
                     beginAtZero: true
                 }
             }
         }
     });
    </script> <!--place javascript here to generate image-->
    </div>
  </div>
  {% endblock %}