{% extends 'base.html' %}

{% block head %}

{% endblock %}

{% block body %}

<div class style="margin-left:20px">
  <ul>
    {% for title in titles %}
    <li>{{title}}</li>
    {% endfor %}
  </ul>
</div>

<!--
<div class style="margin-left:20px">
    <p>Generate list of movie links in javascript</p>
    <ul>
      <li>Movie title one</li>
      <li>Movie title two</li>
      <li>Movie title three</li>
      <li>Movie title ...</li>
      <li>Movie title ...</li>
      <li>Movie title ...</li>
      <li>Movie title ...</li>
      <li>Movie title ...</li>
      <li>Movie title ...</li>
      <li>Movie title ...</li>
      <li>Movie title ...</li>
      <li>Movie title ...</li>
      <li>Movie title ...</li>
      <li>Movie title ...</li>
      <li>Movie title ...</li>
      <li>So on...</li>
    </ul>
  </div>
-->
{% endblock %}